body {
    margin: 0px
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}

@media (max-width: 575.98px) {
    section>h1 {
        text-align: center;
        font-family: montserrat;
        width: 100%;
        font-size: 5vw;
        max-width: 575px;
        margin: 0 auto;
        color: green
    }

    p {

        font-family: Montserrat;
        text-align: center;
        font-size: 3.5vw;
    }

    .imagenPrincipalNos>img {
        width: 100%;
        object-fit: contain;
    }

    .calidadDiv {
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1)>h2 {
        font-size: 5vw;
        color: green
    }

    .calidadDiv>div:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(1) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(2) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .imagesCollage {
        width: 100%;
        object-fit: contain;
    }

    .ubicationNosotros {
        display: flex;
        max-width: 1440px;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        margin-top: 40px;
    }

    .ubicationNosotros>h3 {
        color: green;
        font-size: 5vw;
    }

    .ubicationNosotros>iframe {
        width: 100%;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    section>h1 {
        text-align: center;
        font-family: montserrat;
        width: 100%;
        font-size: 4.5vw;
        max-width: 575px;
        margin: 0 auto;
        color: green;
    }

    p {

        font-family: Montserrat;
        text-align: center;
        font-size: 3.5vw;
    }

    .imagenPrincipalNos>img {
        width: 100%;
        object-fit: contain;
    }

    .calidadDiv {
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1)>h2 {
        font-size: 5vw;
        color: green
    }

    .calidadDiv>div:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(1) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(2) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .imagesCollage {
        width: 100%;
        object-fit: contain;
    }

    .ubicationNosotros {
        display: flex;
        max-width: 1440px;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        margin-top: 40px;
    }

    .ubicationNosotros>h3 {
        color: green;
        font-size: 5vw;
    }

    .ubicationNosotros>iframe {
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    section>h1 {
        text-align: center;
        font-family: montserrat;
        width: 100%;
        font-size: 3.5vw;
        max-width: 575px;
        margin: 0 auto;
        color: green;
    }

    p {

        font-family: Montserrat;
        text-align: center;
        font-size: 2vw;
    }

    .imagenPrincipalNos>img {
        width: 100%;
        object-fit: contain;
    }

    .calidadDiv {
        font-family: montserrat;
        display: flex;
        margin-top: 46px;
    }

    .calidadDiv>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 0px 45px 0px 45px;
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1)>h2 {
        font-size: 3.5vw;
        color: green;
    }

    .calidadDiv>div:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 90px;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(1) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(2) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .imagesCollage {
        width: 100%;
        object-fit: contain;
    }

    .ubicationNosotros {
        display: flex;
        max-width: 1440px;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        margin-top: 40px;
    }

    .ubicationNosotros>h3 {
        color: green;
        font-size: 3.5vw;
    }

    .ubicationNosotros>iframe {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    section>h1 {
        text-align: center;
        font-family: montserrat;
        width: 100%;
        font-size: 3vw;
        max-width: 575px;
        margin: 0 auto;
        color: green;
    }

    p {

        font-family: Montserrat;
        text-align: center;
        font-size: 2vw;
    }

    .imagenPrincipalNos>img {
        width: 100%;
        object-fit: contain;
    }

    .calidadDiv {
        font-family: montserrat;
        display: flex;
        margin-top: 46px;
    }

    .calidadDiv>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 0px 45px 0px 45px;
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1)>h2 {
        font-size: 3.5vw;
        color: green;
    }

    .calidadDiv>div:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 90px;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(1) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(2) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .imagesCollage {
        width: 100%;
        object-fit: contain;
    }

    .ubicationNosotros {
        display: flex;
        max-width: 1440px;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        margin-top: 40px;
    }

    .ubicationNosotros>h3 {
        color: green;
        font-size: 3.5vw;
    }

    .ubicationNosotros>iframe {
        width: 100%;
    }
}


@media (min-width: 1200px) {

    section>h1 {
        text-align: center;
        font-family: montserrat;
        width: 100%;
        font-size: 38px;
        max-width: 575px;
        margin: 0 auto;
        color: green;
    }

    p {

        font-family: Montserrat;
        text-align: center;
        font-size: 20px;
    }

    .imagenPrincipalNos>img {
        width: 100%;
        object-fit: contain;
    }

    .calidadDiv {
        font-family: montserrat;
        display: flex;
        margin-top: 46px;
    }

    .calidadDiv>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 0px 45px 0px 45px;
        font-family: montserrat;
    }

    .calidadDiv>div:nth-child(1)>h2 {
        font-size: 38px;
        color: green;
    }

    .calidadDiv>div:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 90px;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(1) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .calidadDiv>div:nth-child(2)>div:nth-child(2) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .imagesCollage {
        width: 100%;
        object-fit: contain;
    }

    .ubicationNosotros {
        display: flex;
        max-width: 1440px;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        margin-top: 40px;
    }

    .ubicationNosotros>h3 {
        color: green;
        font-size: 38px;
    }

    .ubicationNosotros>iframe {
        width: 100%;
    }
}